[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
derive_more = { workspace = true }
env_logger = { workspace = true }
log = { workspace = true }
rand = { workspace = true, features = ["std"] }
serde_json = { version = "1.0.119" }
strum = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
