[package]
authors = []
name = "normalization"
publish = false
edition.workspace = true
license.workspace = true
version.workspace = true

[features]
default = []
wgpu = ["cubecl/wgpu"]
cuda = ["cubecl/cuda"]

[dependencies]
cubecl = { path = "../../crates/cubecl", version = "=0.9.0-pre.4" }
half = { workspace = true }
